<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Registrar Cursos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </h:head>
    <h:body>
        <p:messages showDetail="true"/>
        <center>
            <h:form id="f" class="col-md-6"  enctype="multipart/form-data" >
                <div class="card">
                    <div class="card-header">
                        <h3>Registrar Cursos</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>ID</label>
                            <h:inputText value="#{cursoBean.curso.idCurso}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Nombre del Curso</label>
                            <h:inputText value="#{cursoBean.curso.nombres}" required="true" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Foto</label>
                            <br/>
                            <p:growl showDetail="true"/>
                            <p:fileUpload value="#{cursoBean.file}" mode="simple"/>
                        </div>
                        <div class="form-group">
                            <label>Descripción</label>
                            <h:inputText value="#{cursoBean.curso.descripcion}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Precio</label>
                            <h:inputText value="#{cursoBean.curso.precio}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Stock</label>
                            <h:inputText value="#{cursoBean.curso.stock}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Tiempo de duración</label>
                            <h:inputText value="#{cursoBean.curso.tiempoDeDuracion}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Nombre del Profesor</label>
                            <h:inputText value="#{cursoBean.curso.nombredelprofesor}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Requisitos</label>
                            <h:inputText value="#{cursoBean.curso.requisitos}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Fecha de registro</label>
                            <p:inputText value="#{cursoBean.curso.fechaderegistro}" class="form-control">
                            <f:convertDateTime type="Date" pattern="dd/mm/yyyy"/>
                            </p:inputText>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p:commandButton class="btn btn-outline-primary" value="Guardar" actionListener="#{cursoBean.insert()}"/> 
                        <p:commandButton class="btn btn-outline-primary" value="Actualizar" actionListener="#{cursoBean.actualizar()}"
                                         update=":f"/>   
                    </div>                
                </div>
            </h:form>
        </center>

        <div class="container mt-4">
            <div class="form-group">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>NOMBRES</th>
                            <th>IMAGEN</th>
                            <th>DESCIRPCION</th>
                            <th>PRECIO</th>
                            <th>STOCK</th>
                            <th>TIEMPO_DURACION</th>
                            <th>PROFESOR</th>
                            <th>REQUISITOS</th>
                            <th>FECHA_REGISTRO</th>
                            <th>ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <c:forEach var="p" items="${cursoBean.ltsCurso}">
                            <tr class="text-center">
                                <td>${p.idCurso}</td>
                                <td>${p.nombres}</td>
                                <td><img src="ControlerIMG?id=${p.idCurso}" width="100" height="100"/></td>
                                <td>${p.descripcion}</td>
                                <td>${p.precio}</td>
                                <td>${p.stock}</td>
                                <td>${p.tiempoDeDuracion}</td>
                                <td>${p.nombredelprofesor}</td>
                                <td>${p.requisitos}</td>
                                <td>${p.fechaderegistro}</td>
                                <h:form>
                                    <td>                          
                                        <p:commandButton icon="ui-icon-pencil" class="btn btn-warning" value="Editar" actionListener="#{cursoBean.cargarID(p)}" update=":f" />
                                        <p:commandButton icon="ui-icon-trash" class="btn btn-danger" value="Eliminar" actionListener="#{cursoBean.eliminar(p)}" />
                                    </td>
                                </h:form>
                            </tr>
                        </c:forEach>                    
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </h:body>
</html>

